pkgbase = streamlink-twitch-gui-bin
	pkgdesc = A multi platform Twitch.tv browser for Streamlink
	pkgver = 2.5.1
	pkgrel = 1
	url = https://github.com/streamlink/streamlink-twitch-gui
	arch = i686
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	depends = streamlink
	provides = streamlink-twitch-gui
	conflicts = streamlink-twitch-gui
	options = !strip
	source_i686 = https://github.com/streamlink/streamlink-twitch-gui/releases/download/v2.5.1/streamlink-twitch-gui-v2.5.1-linux32.tar.gz
	sha256sums_i686 = 1e09f715fac9502228b1f45ce8d8314ef8a0566173a0d5802c526d8a34f6b031
	source_x86_64 = https://github.com/streamlink/streamlink-twitch-gui/releases/download/v2.5.1/streamlink-twitch-gui-v2.5.1-linux64.tar.gz
	sha256sums_x86_64 = 3e9628db2b0c04847aa702ccb92e936be7e7149f710f27f7ba08268ff1442a3b

pkgname = streamlink-twitch-gui-bin
