pkgbase = streamlink-twitch-gui-bin
	pkgdesc = A multi platform Twitch.tv browser for Streamlink
	pkgver = 2.5.0
	pkgrel = 1
	url = https://github.com/streamlink/streamlink-twitch-gui
	arch = i686
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	depends = streamlink
	provides = streamlink-twitch-gui
	conflicts = streamlink-twitch-gui
	options = !strip
	source_i686 = https://github.com/streamlink/streamlink-twitch-gui/releases/download/v2.5.0/streamlink-twitch-gui-v2.5.0-linux32.tar.gz
	sha256sums_i686 = e13a23959dfbc698aff98716f21f26bb30cfebc4dc37e4413af783644369de64
	source_x86_64 = https://github.com/streamlink/streamlink-twitch-gui/releases/download/v2.5.0/streamlink-twitch-gui-v2.5.0-linux64.tar.gz
	sha256sums_x86_64 = 28223eb3e7d5b90c5279d0473f4a8cdf5816a680e24bff7b110056b46622abb5

pkgname = streamlink-twitch-gui-bin
